<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" media="all" href="{{ asset('bundles/mdscatalog/css/style.css') }}"/>
    </head>
    <body>
        <div class="container">
            <div class="header">
                <ul class="nav nav-pills pull-right">
                    <li><a href="/">Home</a></li>
                    <li>
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <a href="{{ path('fos_user_security_logout') }}">
                                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }} ({{app.user.username}})
                            </a>
                        {% else %}
                            <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                        {% endif %}
                    </li>
                    <li>
                        <a href="{{ path('fos_user_profile_show') }}">Profile</a>
                    </li>
                </ul>
                <h3 class="text-muted">Referral Bundle</h3>
            </div>

            {% for type, messages in app.session.flashbag.all() %}
            <div class="row">
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
            {% endfor %}

            <div class="row">
                {% block fos_user_content %}
                {% endblock fos_user_content %}
            </div>

        </div>

        <div class="footer">
            <div class="container">
                <p class="text-muted">&copy; referral bundle</p>
            </div>
        </div>
    </body>
</html>
