{% extends "MdsReferralBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div class="col-sm-8 center-block">
    {% include "MdsReferralBundle:Registration:register_content.html.twig" %}
    </div>
{% endblock fos_user_content %}
