{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form with ['MdsReferralBundle:Form:fields.html.twig', 'MdsReferralBundle:Form:text_errors.html.twig', 'MdsReferralBundle:Form:form_errors.html.twig'] %}

<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal center-block" role="form" novalidate="novalidate">
    {{ form_widget(form) }}
    <div class="pull-right">
        <input type="submit" value="{{ 'registration.submit'|trans }}" class="btn-primary" />
    </div>
</form>
