{% block form_row %}
    {% spaceless %}
        <div class="form-group {{ errors|length > 0 ? 'has-error' : '' }}">
            {{ form_label(form, null, {'label_attr': {'class': 'control-label col-sm-4' }}) }}
            <div class="col-sm-8">
                {{ form_widget(form, {'attr': {'class': 'form-control' }}) }}
            </div>
            {{ form_errors(form) }}
        </div>
    {% endspaceless %}
{% endblock form_row %}